<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="siriusdata-local" value="../SiriusData/artifacts/packages" />
    <add key="github" value="https://nuget.pkg.github.com/TeamOpenSirius/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="siriusdata-local">
      <package pattern="Sirius.*" />
    </packageSource>
    <packageSource key="github">
      <package pattern="Sirius.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
